server.host: {{ ansible_hostname }}

server.name: {{ ansible_hostname }}

elasticsearch.host: 
{% for host in groups['elasticsearch'] %}
  - http://{{host}}:9200
{% endfor %}

elasticsearch.requestTimeout: 60000