input {
  jdbc {
    jdbc_driver_library => "/usr/share/java/mysql-connector-java.jar"
    jdbc_driver_class => "com.mysql.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://{{ groups['head'][0] }}:3306/INFOLOGGER"
    last_run_metadata_path => "/var/lib/logstash/.logstash_jdbc_last_run"
    jdbc_user => "infoLoggerAdmin"
    jdbc_password => "ilPwdA"
    schedule => "* * * * *"
    statement => "SELECT facility, message, pid, hostname, severity, system, timestamp, username FROM messages WHERE timestamp > :sql_last_value ORDER BY timestamp"
    use_column_value => true
    tracking_column => "timestamp"
  }
}

output {
  elasticsearch {
    index => "app_log-%{+yyyy.MM.dd}"
    hosts => [{% for host in groups['elasticsearch'] %}"{{host}}:9200"{% if not loop.last %},{% endif %}{% endfor %}]
  }
}

